<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<th:block th:include="pages/common/public::header" />
</head>
<body>
  <div class="animated fadeIn timo-layout-page">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <blockquote class="layui-elem-quote custom-quote">欢迎：
          <span><shiro:principal property="username" /></span>
          ！当前时间:[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]]
        </blockquote>
      </div>
    </div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
          <div class="widget-small widget-user">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="widget-small-info">
              <h4>用户</h4>
              <span>12</span>
            </div>
          </div>
        </div>
        <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
            <div class="widget-small widget-visit">
              <i class="icon fa fa-line-chart fa-3x"></i>
              <div class="widget-small-info">
                <h4>访问</h4>
                <span>1,200</span>
              </div>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
              <div class="widget-small widget-message">
                  <i class="icon fa fa-comments-o fa-3x"></i>
                  <div class="widget-small-info">
                      <h4>信息</h4>
                      <span>41</span>
                  </div>
              </div>
        </div>
        <div class="layui-col-md3 layui-col-sm6 layui-col-xs12">
              <div class="widget-small widget-like">
                  <i class="icon fa fa-star fa-3x"></i>
                  <div class="widget-small-info">
                      <h4>收藏</h4>
                      <span>306</span>
                  </div>
              </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">项目介绍</div>
          <div class="layui-card-body project-introduce">
            <div>
              <h4>技术选型</h4>
                <ol>
                  <li>后端技术：SpringBoot + Gradle+ Mybatis + Thymeleaf + Spring Security + Poi + Dozer + Oshi + PageHelper+ Webjars</li>
                  <li>前端技术：Layui + Jquery + Font-awesome + Bootstrap + Echarts</li>
                  <li>开发工具：Spring Tool Suite(3.9.12.RELEASE) + OpenJDK11 + GIT + Chrome/Firefox + Nexus Repository + PostgreSQL</li>
                </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">项目信息</div>
          <div class="layui-card-body">
            <div id="main" style="width: 100%; height: 400px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block th:include="pages/common/public::footer" />
  <script th:src="@{/webjars/echarts/echarts.min.js}"></script>
  <script type="application/javascript">
        layui.use('element', function(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            //window.onresize = myChart.resize;
            // 指定图表的配置项和数据
            option = {
                title: {
                	text: '近七天登陆次数统计图',
                    left: 'center'
                },
                tooltip: {
                	trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'none' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                xAxis: {
                    type: 'category',
                    data:  getWeekList()
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [],
                    type: 'line'
                }]
            };
            layui.$.get('/main/weekLoginCount', function (data) {
                option.series[0].data = data;
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                $(window).resize(function() {
                    myChart.resize();
                });
            });
        });
  </script>
</body>
</html>