<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.cloud.point.mapper.EmployeeMapper">

  <resultMap type="Employee" id="employeeMap">
    <id column="id" property="id"></id>
    <result column="name" property="name" />
    <result column="address" property="address" />
    <result column="age" property="age" />
    <result column="salary" property="salary" />
    <result column="tel" property="tel" />
    <association property="department" column="department" javaType="Department">
      <id property="id" column="department_id" />
      <result property="name" column="department_name" />
    </association>
  </resultMap>

  <sql id="selectColumns">
    A.id,
    A.name,
    A.address,
    A.age,
    A.salary,
    A.tel,
    B.id AS department_id,
    B.name AS department_name
  </sql>

  <sql id="where">
    <where>
      <if test="params.username != null and params.username != ''">
        and A.name = #{params.username}
      </if>
      <if test="params.department != null and params.department != ''">
        and A.department = #{params.department}
      </if>
    </where>
  </sql>

  <select id="selectAll" resultMap="employeeMap">
    SELECT
    <include refid="selectColumns" />
    FROM
    t_emp A
    LEFT OUTER JOIN t_dept B ON A.department=B.id
    ORDER BY A.id
  </select>

  <select id="selectAllByParams" resultMap="employeeMap">
    SELECT
    <include refid="selectColumns" />
    FROM
    t_emp A
    LEFT OUTER JOIN t_dept B ON A.department=B.id
    <include refid="where" />
    ORDER BY A.id
  </select>

  <select id="selectCount" resultType="long">
    SELECT count(*)
    FROM
    t_emp A
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long">
    DELETE FROM
    t_emp
    WHERE t_emp.id=#{id}
  </delete>

  <insert id="insert" parameterType="Employee">
    INSERT INTO t_emp (id,name,address,age,department,salary,tel)
    VALUES
    (default,#{name},#{address},#{age},#{department.id},#{salary},#{tel})
  </insert>

  <select id="selectByPrimaryKey" resultMap="employeeMap">
    SELECT
    <include refid="selectColumns" />
    FROM t_emp A
    LEFT OUTER JOIN t_dept B ON A.department=B.id
    <where>
      A.id=#{id}
    </where>
  </select>

  <update id="updateByPrimaryKey" parameterType="Employee">
    UPDATE
    t_emp
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="department != null">
        department = #{department.id},
      </if>
      <if test="salary != null">
        salary = #{salary},
      </if>
      <if test="tel != null">
        tel = #{tel},
      </if>
      age = #{age}
    </set>
    <where>
      id=#{id}
    </where>
  </update>

</mapper>