<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.cloud.point.mapper.JobMapper">

  <resultMap type="JobModel" id="jobMap">
    <id column="id" property="id"></id>
    <result column="jobname" property="jobName" />
    <result column="description" property="description" />
    <result column="cron" property="cron" />
    <result column="springbeanname" property="springBeanName" />
    <result column="methodname" property="methodName" />
    <result column="issysjob" property="isSysJob" />
    <result column="status" property="status" />
    <result column="createtime" property="createTime" />
    <result column="updatetime" property="updateTime" />
  </resultMap>

  <sql id="where">
    <where>
      <if test="params.description != null and params.description != ''">
        and t.description like concat('%', #{params.description}, '%')
      </if>
      <if test="params.status != null and params.status != ''">
        and t.status = #{params.status}
      </if>
    </where>
  </sql>

  <select id="selectAll" resultMap="jobMap">
    SELECT *
    FROM t_job t
  </select>

  <select id="selectAllByParams" resultMap="jobMap">
    SELECT *
    FROM t_job t
    <include refid="where" />
  </select>

  <select id="selectCount" resultType="long">
    SELECT count(1) 
    FROM t_job t
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long">
    DELETE FROM
    t_job WHERE t_job.id=#{id}
  </delete>

  <insert id="insert" parameterType="JobModel">
    INSERT INTO t_job 
    (id,jobname,description,cron,springbeanname,methodname,issysjob,
    status,createtime,updatetime)
    VALUES
    (default,#{jobName},#{description},#{cron},#{springBeanName},#{methodName},#{isSysJob},
    #{status},#{createTime},now())
  </insert>

  <select id="selectByPrimaryKey" resultMap="jobMap">
    SELECT *
    FROM t_job
    WHERE t_job.id=#{id}
  </select>

  <select id="getByName" resultMap="jobMap">
    SELECT *
    FROM t_job
    WHERE t_job.jobname=#{jobName}
  </select>

  <update id="updateByPrimaryKey" parameterType="JobModel">
    UPDATE
    t_job
    <set>
      <if test="jobName != null">
        jobname = #{jobName},
      </if>
      <if test="cron != null">
        cron = #{cron},
      </if>
      <if test="springBeanName != null">
        springbeanname = #{springBeanName},
      </if>
      <if test="methodName != null">
        methodname = #{methodName},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="isSysJob != null">
        issysjob = #{isSysJob},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      updatetime = now()
    </set>
    WHERE t_job.id=#{id}
  </update>

</mapper>